@import url("https://fonts.googleapis.com/css?family=Raleway:200,400,700");

html,
body {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: #fbfcd4;
  text-align: center;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

li {
  font-size: 2em;
  list-style: none;
  font-weight: 800;
}

p {
  font-size: 1.2em;
  list-style: none;
  font-weight: 600;
}

a:link,
a:visited {
  color: #2b36f4;
  border-radius: 2px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.social {
  display: none;
}

@media only screen and (max-width: 800px) {
  .social { display: inherit; }
  .contact { display: none; }
  li { font-size: 2.2em; }
  p { font-size: 1.6em; }
}

.social {
  font-size: 2em;
}
.social a {
  margin-right: 12px;
}
.social a:link,
.social a:visited {
  color: black !important;
}
.social a:hover {
  color: #2b36f4 !important;
  transition: color 0.5s ease;
}


::selection {
  background: #b1ff9b;
}